body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;           
    justify-content: center;     
    align-items: center;
}


.hidden {
    display: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    padding: 15px 30px;
    background: cyan;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

button:hover {
    background: #66ffff;
}

#hud {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
}

#hud span {
    margin-right: 30px;
}

.pause {
    position: absolute;
    left: 0px;
    top: 20px;
    padding: 12px 20px;
    font-size: 20px;
}

#gameOverScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    color: white;
}

#gameOverScreen button {
    margin-top: 12px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

